<meta charset="utf-8">
<title>{$title|default='KK API接口管理系统'} – {$Think.config.site.slogan}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="renderer" content="webkit">

{if isset($keywords)}
<meta name="keywords" content="{$keywords}">
{/if}
{if isset($description)}
<meta name="description" content="{$description}">
{/if}
<link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico" />

<!-- Bootstrap Core CSS -->
<link href="//cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<!-- Plugin CSS -->
<link href="//cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="//cdn.staticfile.org/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet" />
<link href="__CDN__/assets/libs/fastadmin-layer/dist/theme/default/layer.css" rel="stylesheet" />
<link href="//at.alicdn.com/t/font_1104524_z1zcv22ej09.css" rel="stylesheet" />

<!-- Master -->
<link href="__CDN__/assets/css/master.css?v={$Think.config.site.version}" rel="stylesheet" />

<!-- jQuery -->
<script type="text/javascript" src="//cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="//cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script type="text/javascript" src="//cdn.staticfile.org/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!--<script type="text/javascript" src="//cdn.staticfile.org/clipboard.js/2.0.6/clipboard.min.js"></script>-->
<script type="text/javascript" src="__CDN__/assets/js/jquery.copy.min.js"></script>
<script type="text/javascript" src="__CDN__/assets/libs/fastadmin-layer/dist/layer.js"></script>
<script type="text/javascript" src="__CDN__/assets/js/bootstrap-typeahead.min.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="//cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->